body{
  background-image: url(https://korporat.uitm.edu.my/images/about/canseleri.jpg) ;
  background-attachment: fixed;
  font-family: sans-serif;
  padding: 30px;
}

fieldset{
  border: none;
  padding: 1rem 0;
  border-bottom: 3px solid #3b3b4f;

}

h1{
  margin: 1em auto;
  text-align: center;
  font-size: 180%;
}

p{
   margin: 1em auto;
  text-align: center;
  font-size: 110%;

}

.desc{
  font-style: italic;
}

.form{
  width: 80%;
  background-color: rgba(255,255,255,0.7);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 750px;

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
  
}
.zaidi{
 max-width: 10%;
}
  

}

label{
  display: block;
  margin: 0.5rem 0;
}
/* input size and lenght */
input, select{ 
  margin: 10px 0 10px 0;
  width: 100%;
  min-height: 2em;
}

.inline{
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

hr{
  background-color: #3b3b4f;
  height: 3px;
  display: solid;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  color: white;
  background-color: #8B008B;
  border-color: rgba(255,255,255,0.7);
  min-width: 300px;
}
